
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #e9ecef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  background-color: #299fee;
  border: 5px solid #2805ec;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
}

.App h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #2805ec;
  text-transform: uppercase;
  letter-spacing: 1px;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-bottom: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #28a745;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 10px;
}

button:hover {
  background-color: #218838;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li:last-child {
  border-bottom: none;
}

li button {
  background-color: #dc3545;
  border: none;
  border-radius: 3px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

li button:hover {
  background-color: #c82333;
}
